@import "tailwindcss";

@theme {
  /* Custom Colors: */
  --color-pink-light: #FCE7F3;
  --color-pink: #E60283;
  --color-white: #FFFFFF;
  --color-gray-light: #DEDCDD;
  --color-dark: #393D47;
  --color-light-blue: #DFF2FE;
  --color-mint: #DCFCE7;
  /* Custom Breakpoints: */
  --breakpoint-bp375: 23.4375rem; /* 375px */
  --breakpoint-bp425: 26.5625rem; /* 425px */
  --breakpoint-bp1440: 90rem;     /* 1440px */
}
/* *{
  outline: 3px solid black;
} */
@layer base {
  html {
    font-family: "Mulish", sans-serif;
    scroll-behavior: smooth;
  }
}

/* Custom utility for SVG offset */
.top-spacing-neg-7 {
  top: calc(var(--spacing) * -7);
}
.left-spacing-neg-27 {
  left: calc(var(--spacing) * -27);
}
.left-spacing-neg-18 {
  left: calc(var(--spacing) * -18);
}
.left-spacing-neg-17 {
  left: calc(var(--spacing) * -17);
}


/* Media Queries for testing: */
/* chrome mobile s: */

@media (min-width: 320px) {
  body {
    outline: 3px solid red;
  }
}
/* chrome mobile m: */
@media (min-width: 375px) {
  body {
    outline: 3px solid red;
  }
}
/* chrome mobile l: */
@media (min-width: 425px) {
  body {
    outline: 3px solid red;
  }
}
/* tailwind xs: */
@media (min-width: 640px) {
  body {
    outline: 3px solid red;
  }
}
/* both md: */
@media (min-width: 768px) {
  body {
    outline: 3px solid red;
  }
}
/* both lg: */
@media (min-width: 1024px) {
  body {
    outline: 3px solid red;
  }
}
  /* tailwind xl: */
@media (min-width: 1280px) {
  body {
    outline: 3px solid red;
  }
}
/* both laptop l: */
@media (min-width: 1440px) {
  body {
    outline: 3px solid red;
  }
}
/* tailwind 2xl: */
@media (min-width: 1536px) {
  body {
    outline: 3px solid red;
  }
}


.mobile-menu-links:has(.mobile-menu-dropdown:hover) ~ .cta-div,
.mobile-menu-links:has(.mobile-menu-dropdown:focus-within) ~ .cta-div {
  margin-top: 0.5rem !important; /* mt-2 */
}

@keyframes marquee-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.marquee {
  display: flex;
  width: max-content;
  animation: marquee-left 40s linear infinite;
}
.marquee-wrapper {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.howtofix-list{
  list-style-type: disc;
}
.howtofix-list li::marker {
  color: #FF3EA5; /* your custom color */
}