@import "tailwindcss";

/* =========================
   Theme Variables
========================= */
@theme {
  /* Custom Colors: */
  --color-pink-light: #fce7f3;
  --color-pink: #e60283;
  --color-white: #ffffff;
  --color-gray-light: #dedcdd;
  --color-dark: #393d47;
  --color-light-blue: #dff2fe;
  --color-mint: #dcfce7;
  /* Custom Breakpoints: */
  --breakpoint-bp375: 23.4375rem; /* 375px */
  --breakpoint-bp425: 26.5625rem; /* 425px */
  --breakpoint-bp1440: 90rem; /* 1440px */
}

/* =========================
   Base Styles
========================= */
@layer base {
  html {
    font-family: "Mulish", sans-serif;
    scroll-behavior: smooth;
  }
}

/* =========================
   Utility Classes
========================= */
/* Custom utility for SVG offset */
.top-spacing-neg-7 {
  top: calc(var(--spacing) * -7);
}
.left-spacing-neg-27 {
  left: calc(var(--spacing) * -27);
}
.left-spacing-neg-18 {
  left: calc(var(--spacing) * -18);
}
.left-spacing-neg-17 {
  left: calc(var(--spacing) * -17);
}
.mobile-menu-links:has(.mobile-menu-dropdown:hover) ~ .cta-div,
.mobile-menu-links:has(.mobile-menu-dropdown:focus-within) ~ .cta-div {
  margin-top: 0.5rem !important; /* mt-2 */
}

/* =========================
   Component Styles
========================= */
@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.marquee {
  display: flex;
  width: max-content;
  animation: marquee-left 40s linear infinite;
}
.marquee-wrapper {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}
.swiper-pagination-bullet-active {
  background-color: #e60283 !important; /* Custom pink color */
}
.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  width: 200px !important;
}

/* =========================
   Media Queries
========================= */
/* tailwind xs: */
@media (min-width: 640px) {
  .swiper-slide {
    justify-content: center !important;
  }
}
